# String Formatting Tips (%s)

String Formatting defaults to right justified if none is specified:

In [24]:
'%10s' % 'test'

'      test'

Or if you have multiple items, it looks like this:

In [17]:
'%10s %10s' % ('test1', 'test2')

'     test1      test2'

You can left justify by including a minus (-) sign in front of the field width number:

In [18]:
'%-10s' % 'test'

'test      '

Or if you have multiple items, it looks like this:

In [19]:
'%-10s %-10s' % ('test1', 'test2')

'test1      test2     '

You can even mix and match (first is left justified, and second is right justified):

In [20]:
'%-10s %10s' % ('test1', 'test2')

'test1           test2'

Or do the opposite:

In [21]:
'%10s %-10s' % ('test1', 'test2')

'     test1 test2     '

For the previous line note that there is a space between test1 and test2 because we have a space between %10s and %-10s

# Using .ljust(), .rjust(), and .center()
### The number inside the parenthesis tells Python what the field width is

Let's store the name John and his birthday into some variables:

In [22]:
name = 'John'
bd = '01/01/2001'

Now let's print both of these with right justification and a field width of 15 characters each:

In [26]:
print('%s %s' % (name.rjust(15), bd.rjust(15)))

           John      01/01/2001

If we want to "see" the spaces, we can replace them with a character:

In [34]:
print('%s %s' % (name.rjust(15,'#'), bd.rjust(15,'$')))

####Christopher $$$$$01/01/2001

What if the name is longer or shorter than the field width?

In [35]:
name = 'Christopher'
print('%s %s' % (name.rjust(8,'#'), bd.rjust(15,'$')))

Christopher $$$$$01/01/2001

# Combining the two leads to some interesting results:

What if we used both the %s format specifier and the r or l.just?
Let's go back to a shorter name:

In [38]:
name = 'John'
print('%20s %s' % (name.rjust(10,'#'), bd.rjust(15,'$')))

          ######John $$$$$01/01/2001

In the previous case, we can see that the %20s creates a string 20 characters wide, and the right justify takes 10 of those characters and right-justifies the text (name) within that.

What if we try left justification?

In [39]:
print('%20s %s' % (name.ljust(10,'#'), bd.ljust(15,'$')))

          John###### 01/01/2001$$$$$

##### So as you can see, it is generally best practice to stick with ONE of the formatting techniques so as not to cause unusual or unexpected outputs.

# Formatting Names and Birthdays:

So now let's try inputting names and birthdays and trying to make our columns fit:

In [42]:
name1 = input('What is name 1?: ')
name2 = input('What is name 2?: ')
name3 = input('What is name 3?: ')
bd1 = input('What is your birthday 1? (mm/dd/yyyy): ')
bd2 = input('What is your birthday 2? (mm/dd/yyyy): ')
bd3 = input('What is your birthday 3? (mm/dd/yyyy): ')

What is name 1?: John
What is name 2?: Christopher
What is name 3?: Jessica
What is your birthday 1? (mm/dd/yyyy): 01/01/2001
What is your birthday 2? (mm/dd/yyyy): 02/02/2002
What is your birthday 3? (mm/dd/yyyy): 05/05/2005

In [43]:
print('%15s %15s' % (name1, bd1))
print('%15s %15s' % (name2, bd2))
print('%15s %15s' % (name3, bd3))

           John      01/01/2001
    Christopher      02/02/2002
        Jessica      05/05/2005

Note how these are right justified by default.  We can change the name column to left justified by adding a minus (-) sign:

In [44]:
print('%-15s %15s' % (name1, bd1))
print('%-15s %15s' % (name2, bd2))
print('%-15s %15s' % (name3, bd3))

John                 01/01/2001
Christopher          02/02/2002
Jessica              05/05/2005

In the previous output, the left column is left justified in a field of 15 characters wide, and the right column is right justified in a field of 15 characters wide.  We can try left-justifying both columns now:

In [45]:
print('%-15s %-15s' % (name1, bd1))
print('%-15s %-15s' % (name2, bd2))
print('%-15s %-15s' % (name3, bd3))

John            01/01/2001
Christopher     02/02/2002
Jessica         05/05/2005